<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vérification 2FA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="section-2fa">
    <h2>Double authentification</h2>
    <p>Veuillez entrer le code à 6 chiffres affiché dans votre application Google Authenticator :</p>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="POST">
        <input type="text" name="code" maxlength="6" required placeholder="123456">
        <br>
        <button type="submit">Valider</button>
    </form>
</div>

</body>
</html>
